body {
  background-color: bisque;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#horse,
#cow,
#chickens {
  display: inline-grid;
  justify-items: center;
}

button {
  background-color: rgb(190, 88, 19);
  font-size: larger;
}

a:link {
  text-decoration: none;
  font-size: large;
}

h3 {
  color: rgb(187, 94, 18);
}
